---
---

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import 'monokai';
@import 'palette';

::selection {
  background-color: $selection;
}

img, .btn, .jumbotron {
  user-select: none;
}

@media(max-width:480px) {
  .landing-platform {
    display: none;
    visibility: hidden;
  }

  .landing-ana {
    text-align: center;
  }

  .post-list-img {
    margin-bottom: 20px;
  }

  .navbar {
    background: rgba(0, 0, 0, 0.7) !important;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    margin-right: 10%;
    margin-left: 10%;
  }
}

a {
  color: $link;
  -webkit-transition: color 0.2s; /* Safari */
  transition: color 0.2s;
}

a:hover {
  text-decoration: none;
  // color: $link_hover;
  -webkit-transition: color 0.2s; /* Safari */
  transition: color 0.2s;
}

.posts-header {
  h1 {
    // font-size: 36px;
  }
}

.jumbotron {
  cursor: default;
  h1, h2, h3 {
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 1);
  }
}

.landing {
  border-radius: 0px;
  background-image: /*url('../assets/vaporwave.gif'),*/ url('../assets/posts/default.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  max-height: 100vh;
}

.landing-title {
  color: white;
  z-index: 9999 !important;
  overflow-x: hidden;
  padding-top: 40px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  h1 {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    color: $link;
    small {
      color: black;
    }
  }
}

.landing-container {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
}

.landing-platform {
  border-top: 1px solid black;
  left: 0px;
  background: url('../assets/background/pink.png') repeat-x;
  height: 90px;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.landing-ana {
  text-align: center !important;
  margin: 0 auto;
  bottom: 90px;
  position: absolute;
}

.placeholder {
  height: 300px;
}

// navbar

.navbar {
  padding-right: 10%;
  padding-left: 10%;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  transition: background-color 0.7s;
}

.nav-link, .navbar-brand {
  color: white !important;
}

.navbar-scroll {
  color: black;
  background: rgba(0, 0, 0, 0.5);
  transition: background-color 0.7s, color 0.7s;
  border-bottom: 1px solid #000;
}

// post

.posts-header {
  padding-top: 120px;
  background-attachment: fixed;
  color: white;
  min-height: 40vh;
  background-image: url('../assets/posts/default.jpg');
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  word-wrap: break-word;
  h1 {

  }
}

.posts-body {
  text-align: justify;
}

.btn-categories {
  margin-bottom: 30px;
}

.btn-outline-primary {
  width: 100%;
}

.card {
  border: none;
  cursor: default;
}

.card:hover {
  // img {
  //   filter: drop-shadow(7px 7px 6px #000) opacity(0.7);
  //   // -webkit-filter: hue-rotate(186deg) drop-shadow(6px 6px 3px #000) opacity(0.7);
  //   transition: filter 0.1s;
  //   // -webkit-transition: filter 0.1s;
  // }
}

.img-thumbnail {
  filter: opacity(0.8);
}

.img-fluid {
  filter: hue-rotate(0deg) drop-shadow(6px 6px 2px #000) opacity(0.7);
  // -webkit-filter: hue-rotate(0deg) drop-shadow(7px 7px 6px #000) opacity(0.7);
  transition: filter 0.1s;
  // -webkit-transition: filter 0.1s;
}

.about {
  text-align: justify;
}

.playlist {
  padding-top: 120px;
  background-attachment: fixed;
  color: white;
  min-height: 30vh;
  background-image: url('../assets/posts/default.jpg');
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  h1 {

  }
}
.home {
  .card-title {
    min-height: 2em;
  }
}

.profile-pic {
  width: 200px;
  float: left;
  margin: 0 15px 10px 0;
}
