---
---

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

// @media (min-width : 480px) {
//   .landing {
//     margin-top: -60px;
//   }
// }

@media (min-width: 768px) {
  .container-fluid {
    margin-right: 10%;
    margin-left: 10%;
  }
}

h1 {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}

.landing {
  background-image: url('../assets/vaporwave.gif'), url('../assets/posts/default.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  max-height: 100vh;
}

.landing-title {
  color: white;
  z-index: 9999 !important;
  overflow-x: hidden;
  padding-top: 40px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
  h1 {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    color: rgb(88, 150, 255);
    small {
      color: black;
    }
  }
}

.landing-container {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
}

.landing-platform {
  border-top: 1px solid black;
  left: 0px;
  background: url('../assets/background/pink.png') repeat-x;
  height: 90px;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.landing-ana {
  text-align: center !important;
  margin: 0 auto;
  bottom: 90px;
  position: absolute;
}

.placeholder {
  height: 300px;
}

// navbar

.navbar {
  padding-right: 10%;
  padding-left: 10%;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  // border-bottom: 1px solid rgb(113, 113, 113);
  transition: background-color 0.7s;
}

.nav-link, .navbar-brand {
  color: white !important;
}

.navbar-scroll {
  color: black;
  background: rgba(255, 255, 255, 0.5);
  transition: background-color 0.7s, color 0.7s;
}

// post

.posts-header {
  padding-top: 120px;
  background-attachment: fixed;
  color: white;
  min-height: 40vh;
  background-image: url('../assets/posts/default.jpg');
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  h1 {

  }
}

.posts-body {
  text-align: justify;
}

.row {
  margin-bottom: 30px;
}

.btn-outline-primary {
  width: 100%;
}
