---
layout: base
---

<div class="jumbotron landing">
  <div class="row landing-title text-center">
    <div class="col-md-12">
      <h5>welcome to</h5>
      <h1 class="top-bar">anazard.me</h1>
    </div>
  </div>
  <div class="landing-container">
    <div class="landing-ana">
      <img src="assets/ana.png" />
    </div>

    <div class="landing-platform"></div>
  </div>
</div>

<!-- <div class="placeholder"></div> -->

<div class="container-fluid placeholder">
  <div class="row">
    <div class="col-md-12">
      <h1></h1>
    </div>
  </div>

  <div class="row home">
    {% for post in site.posts limit:4 %}
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="assets/posts/{{post.img}}" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">
              <a href="{{ post.url }}">
                {{ post.title }}
              </a>
            </h4>
            <p class="card-text">
              {{ post.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 20 }}
            </p>
            <a href="{{ post.url }}" class="btn btn-primary">
              <i class="fa fa-terminal" aria-hidden="true"></i>
              Go to post
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
