<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron posts-header">
      <h1 class="top-bar">{{ page.title }}</h1>
    </div>

    <div class="container-fluid posts-body">
      <div class="row">
        <div class="col-sm-12 panel">
          <h2>{{page.title}}</h2>
          <strong>{{ page.date | date: "%B %e, %Y" }}</strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 panel">
          {{page.content}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h5>
            Tags:
            {% for tag in page.tags %}
            <span class="badge badge-default">{{ tag }}</span>
            {% endfor %}
          </h5>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-sm-12">
          <h2>Grab your spot</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2>It is free</h2>
        </div>
      </div> -->

  </body>
</html>
